* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /* Light Theme */
    --bg-color: #F8F9FA;
    --primary-color: #6e7884;
    --secondary-color: #198754;
    --text-color: #212529;
    --text-muted: #6C757D;
    --border-color: #DEE2E6;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --container-bg: #F1F3F5;
    --link-color: #0056B3;
    --link-hover: #53EAFD;
    --page-bg-color: #fff;
    --card-bg-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark Theme */
        --bg-color: #121212;
        --container-bg: #1E1E1E;
        --primary-color: #0056B3;
        --secondary-color: #20C997;
        --text-color: #E9ECEF;
        --text-muted: #ADB5BD;
        --border-color: #343A40;
        --box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        --page-bg-color: #987;
        --card-bg-color: #c1c7c9;
    }

}

body {
    background-color: var(--bg-color);
}

p {
    color: var(--text-muted);
    text-align: center;
}

label {
    color: var(--text-muted);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

input {
    background-color: var(--container-bg);
    padding: 7px;
    border-radius: 5px;
    color: var(--text-color);
}